.feedback{
height: 32px;
width: 200px;
text-align: center;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a.link1:link{
color: black;
text-decoration: none;
}
a.link1:visited{
	color: purple;
	text-decoration: none;
}
a.link1:hover{
	color: blue;
	text-decoration: none;
}
a.link1:active{
	color: green;
	text-decoration: none;
}
.green{
	position: absolute;
	background-color: rgba(19,206,102,100);
	width: 516px;
	height: 200px;
	margin-top:-50px;
	margin-left:999px;
	padding-top:303px;
	padding-bottom:303px;
	text-align:center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
}
.container{
	position:relative;
}
.blue{
	position:absolute;
	margin-top :666px;
	padding-top :165px;
	width: 1516px;
	height: 230px;
	text-align:center;
	font-size: 32px;
	background-color: rgba(19,177,206,100);
	z-index = -1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a.link2:link{
	color: black;
	text-decoration: none;
}
a.link2:visited{
	color: white;
	text-decoration: none;
}
a.link2:hover{
	color: red;
	text-decoration: none;
}
a.link2:active{
	color: green;
	text-decoration: none;
}
a.link3:link{
color: black;
text-decoration: none;
}
a.link3:visited{
	color: white;
	text-decoration: none;
}
a.link3:hover{
	color: red;
	text-decoration: none;
}
a.link3:active{
	color: green;
	text-decoration: none;
}
.profiles{
	width : 500px;
	height: 400px;
	margin-left : 200px;
	margin-top :50px;
}
.title{
	margin-left : -550px;
	font-size: 30px;
	text-align : center;
	font-family: Tahoma, Geneva, sans-serif;
}
.title2{
	margin-left :-550px;
	font-size: 30px;
	text-align : center;
	font-family :"Lucida Console", Monaco, monospace;
}
.title3{
	margin-top : 50px;
	font-size :35px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
.facebook{
	position : relative;
	left:43%;
	top : 5%;
}
.facebookpr{
	text-align : center;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.line{
	position : relative;
	left:43%;
	top : 300px;
}
.linepr{
	position: aboslute;
	left:25%;
	margin-top: 320px;
	margin-bottom:-400px;
	text-align : center;
	font-size:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.purple{
	width: 1516px;
	height: 160px;
	padding-top :90px;
	text-align:center;
	font-size: 36px;
	background-color: rgba(160,19,206,100);
	z-index = -1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.back{
	background-color : rgba(98,219,74,100);
}

.list2{
	padding-left : 40px;
	font-size :  20px;
}
.skills{
	padding-left : 0px;
	padding-top : 200px;
	font-size :28px;
}
.list1{
	font-size : 20px;
}
.edu{
	font-size : 28px;
}
.h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}
.form{
	font-size : 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}