﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% load static %}
    <title>Contact Me</title>
	<link rel = "stylesheet" type ="text/css" href = "{% static "excite.css" %}">
</head>
<body>
<div class = "feedback"><a class = link1 href = feedback.html><span>Feedback</span></a>&nbsp;<a class = link4 href = login >Sign In</a></div>
<div class = "title3">Want to know more?</div>
<img class ="facebook" src ="https://cdn.pbrd.co/images/HFLF1HT.png" alt = "facebook">
<p class = "facebookpr">https://www.facebook.com/dzul33dev</p>
<img class = "line" src ="https://cdn.pbrd.co/images/HFLFhA0.png" alt="line">
<div class = "linepr">@naufaldzul32 (without @)</div>
<div class = "container">
	<div class = "blue"><span><a class = link2 href = / >Return to Homepage</span></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a class= link3 href = page2>My Track Record</a></div>
</div>

</body>
</html>