﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% load static %}
    <title>My Track Record</title>
	<link rel = "stylesheet" type ="text/css" href = "{% static "excite.css" %}">
</head>
<body class = "back">
<div class = "feedback"><a class = link1 href = feedback.html>Feedback</a>&nbsp;<a class = link4 href = login>Sign In</a></div>
<div class = "purple">My Track Record</div>
<div>
	<p class = "edu">Education Track Record:</p>
	<ol class = "list1">
	<li>Melati Indonesia Elementary School</li>
	<li>Bakti Mulya 400 Junior High School</li>
	<li>Al Azhar 4 Kemang Pratama Senior High School</li>
	<li>Still learning at University of Indonesia</li>
	</ol>
</div>
<div class = "skills">Skills:</dif>
<ol class = "list2">
<li>Basic Web Prototype Designer</li>
<li>Simple Program Creator</li>
<li>Motivational Speaker</li>
</ol>
<div class = "container">
	<div class = "blue"><span><a class = link2 href = / >Return to Homepage</span></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a class= link3 href = page3>Contact Me</a></div>
</div>
</body>
</html>