﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% load static %}
    <title>Welcome to my Homepage (by Mochamad Naufal Dzulfikar)</title>
	<link rel = "stylesheet" type ="text/css" href="{% static "excite.css" %}">
</head>
<body>
<div class = "feedback"><a class = link1 href = feedback.html>Feedback</a>&nbsp;<a class = link4 href = login >Sign In</a></div>
<div class ="green">My name is Mochamad Naufal Dzulfikar. I am 19 years old. I was born at Jakarta, 28 April 1999. Now I study at University of Indonesia.</div>
<div class = "container">
	<div class = "blue"><span><a class = link2 href = page2>My Track Record</span></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a class= link3 href = page3>Contact Me</a></div>
</div>
<img class = "profiles" src = "https://cdn.pbrd.co/images/HFLEddA.jpg" alt="Profile">
<p class = "title">Hello, my name is</p>
<p class = "title2">Mochamad Naufal Dzulfikar</p>
</body>
</html>