﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% load static %}
    <title>Sign in</title>
	<link rel = "stylesheet" type ="text/css" href = "{% static "excite.css" %}">
</head>
<body>
<h1 class = "h1">Please Sign In Here</h1>
<form class = "form">
	Nama:<br>
	<input type="text" name = "nama" required><br>
	Tanggal Lahir:<br>
	<input type ="date" name = "tanggallahir" required><br>
	Email:<br>
	<input type="text" name = "email"required><br>
	Username:<br>
	<input type="text" name = "username"required><br>
	Password:<br>
	<input type="password" name = "password"required><br>
	Confirm Password:<br>
	<input type="password" name = "confirm"required><br>
	<input type="submit" name = "submit">
</form>
</body>
</html>